.header {
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.75rem;
  max-height: 3.75rem;
  background-color: rgb(37, 99, 235);
}

button {
  padding: 0;
}
