<header class="header">
  <div><span style="font-size: 20px; color: white" nz-icon nzType="dashboard"></span> Gitlab CI Dashboard</div>
  <div style="display: flex; gap: 0.5rem; align-items: center">
    <div>
      <span style="font-size: var(--font-size-small)">{{ version$ | async }}</span>
    </div>
    <button style="padding: 0" nzType="text" nz-button nz-tooltip nzTooltipTitle="Source code" (click)="onClick()">
      <span style="font-size: 20px; color: white" nz-icon nzType="github"></span>
    </button>
  </div>
</header>
