@if (loading()) {
  <nz-spin nzSimple nzSize="small" />
} @else {
  @if (topics().size > 0) {
    <div class="flex flex-wrap gap-050 items-center">
      <span class="font-sm font-bold">Filter by topic</span>
      @for (topic of topics(); track topic) {
        <nz-tag
          nzMode="checkable"
          [nzChecked]="selectedFilterTopics().includes(topic)"
          (nzCheckedChange)="onTopicChange($event, topic)"
        >
          {{ topic | lowercase }}
        </nz-tag>
      }
    </div>
  }
}
