<button
  nz-button
  nz-tooltip
  nz-dropdown
  nzTrigger="click"
  nzPlacement="bottomCenter"
  [nzClickHide]="true"
  [nzDropdownMenu]="menu"
  [nzTooltipTitle]="tooltipTitle()"
  [(nzVisible)]="visible"
  [disabled]="readOnly()"
>
  <nz-icon nzType="ellipsis" />
</button>
<nz-dropdown-menu #menu>
  <ul nz-menu>
    <li nz-menu-item>
      <gcd-start-pipeline-action (click)="visible.set(false)" [projectId]="projectId()" [branch]="branch()" />
    </li>
    <li nz-menu-item>
      <gcd-retry-pipeline-action (click)="visible.set(false)" [projectId]="projectId()" [pipelineId]="pipelineId()" />
    </li>
    <li nz-menu-item>
      <gcd-cancel-pipeline-action (click)="visible.set(false)" [projectId]="projectId()" [pipelineId]="pipelineId()" />
    </li>
  </ul>
</nz-dropdown-menu>
