<nz-table #nzTable nzSize="small" nzTableLayout="fixed" [nzData]="projects()" [nzPageSize]="12">
  <thead>
    <tr>
      @for (header of headers; track header) {
      <th [nzSortFn]="header.compare" [nzShowSort]="header.sortable">
        {{ header.title }}
      </th>
      }
      <th>Jobs</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @for (data of nzTable.data; track trackBy($index, data)) {
    <tr [attr.data-project-id]="data.project.id">
      <td>{{ data.project.name }}</td>
      <td>{{ data.pipeline.ref }}</td>
      <td>{{ data.pipeline.source }}</td>
      <td>{{ data.pipeline.updated_at | date : 'medium' : timeZone : locale }}</td>
      <td>
        <nz-badge [nzColor]="data.pipeline.status | statusColor" [nzText]="data.pipeline.status"></nz-badge>
      </td>
      <td>
        <gcd-jobs
          [projectId]="data.project.id"
          [pipelineId]="data.pipeline.id"
          [scope]="getScope(data.pipeline.status)"
        />
      </td>
      <td>
        <button
          (click)="onActionClick($event, data.pipeline)"
          nzType="text"
          nz-tooltip
          [nzTooltipTitle]="'Show pipeline (' + data.pipeline.ref + ')'"
          nz-button
          nzShape="circle"
        >
          <span nz-icon nzType="eye"></span>
        </button>
        <button
          [class.pin-active]="pinnedPipelines().includes(data.pipeline.id)"
          [nzType]="pinnedPipelines().includes(data.pipeline.id) ? 'default' : 'text'"
          nz-tooltip
          [nzTooltipTitle]="
            pinnedPipelines().includes(data.pipeline.id)
              ? 'Unpin pipeline (' + data.project.name + ')'
              : 'Pin pipeline (' + data.project.name + ')'
          "
          nz-button
          nzShape="circle"
          (click)="onPinClick($event, data.pipeline)"
        >
          <span nz-icon nzType="pushpin"></span>
        </button>
      </td>
    </tr>
    }
  </tbody>
</nz-table>
