<div class="mt-4 h-96 overflow-auto max-w-full">

  <table class="mat-elevation-z8 w-full"
    [dataSource]="projects"
    mat-table>

    <ng-container matColumnDef="Id">
      <th mat-header-cell
        *matHeaderCellDef>Id</th>
      <td mat-cell
        *matCellDef="let projectWithPipeline">{{ projectWithPipeline.project.id }}</td>
    </ng-container>

    <ng-container matColumnDef="Name">
      <th mat-header-cell
        *matHeaderCellDef>Name</th>
      <td mat-cell
        *matCellDef="let projectWithPipeline">{{ projectWithPipeline.project.name }}</td>
    </ng-container>

    <ng-container matColumnDef="Branch">
      <th mat-header-cell
        *matHeaderCellDef>Branch</th>
      <td mat-cell
        *matCellDef="let projectWithPipeline">{{ projectWithPipeline.project.default_branch }}</td>
    </ng-container>

    <ng-container matColumnDef="Source">
      <th mat-header-cell
        *matHeaderCellDef>Triggered by</th>
      <td mat-cell
        *matCellDef="let projectWithPipeline">{{ projectWithPipeline.pipeline?.source || '-'}}</td>
    </ng-container>

    <ng-container matColumnDef="When">
      <th mat-header-cell
        *matHeaderCellDef>When</th>
      <td mat-cell
        *matCellDef="let projectWithPipeline">{{ (projectWithPipeline.pipeline?.updated_at | formatTime) || '-'}}
      </td>
    </ng-container>

    <tr mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true">
    </tr>

    <tr mat-row
      (click)="openGitlab(projectWithPipeline)"
      *matRowDef="let projectWithPipeline; columns: displayedColumns;">
    </tr>

  </table>

</div>
