<div class="flex flex-col gap-050">
  <div class="flex justify-between">
    <div class="flex flex-col gap-050">
      <gcd-latest-branch-filter
        [branchCount]="branchCount()"
        [filterText]="filterText()"
        (filterTextChange)="onFilterTextChanged($event)"
      />
      <gcd-job-filter
        [loading]="loading()"
        [jobs]="jobs()"
        [filterJobs]="filterJobs()"
        (filterJobsChange)="onFilterJobsChanged($event)"
      />
    </div>
  </div>
  <nz-table
    #nzTable
    [nzScroll]="{ y: '210px' }"
    nzSize="small"
    [nzData]="filteredBranches()"
    [nzLoading]="loading()"
    [nzPageSize]="10"
  >
    <thead>
      <tr>
        @for (header of headers; track header.title) {
        <th [nzSortFn]="header.compare" [nzShowSort]="header.sortable">
          {{ header.title }}
        </th>
        }
        <th>Jobs</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (data of nzTable.data; track trackByBranchCommitId(data)) {
      <tr [attr.data-pipeline-id]="data.pipeline?.id">
        <td>{{ data.branch.name }}</td>
        <td>
          @if (data.pipeline; as pipeline) {
          <nz-badge [nzColor]="pipeline.status | statusColor" [nzText]="pipeline.status"></nz-badge>
          } @else { - }
        </td>
        <td>{{ data.pipeline?.source || '-' }}</td>
        <td>
          @if (data.pipeline; as pipeline) {
          {{ pipeline.updated_at | date : 'medium' : timeZone : locale }}
          } @else { - }
        </td>
        <td>
          @if (data.pipeline; as pipeline) {
          <gcd-jobs [projectId]="pipeline.project_id" [pipelineId]="pipeline.id" [scope]="getScope(pipeline.status)" />
          } @else { - }
        </td>
        <td>
          @if (data.pipeline; as pipeline) { @if (showWriteActions()) {
          <gcd-write-actions-icon
            [projectId]="pipeline.project_id"
            [pipelineId]="pipeline.id"
            [branch]="data.branch.name"
          />
          }
          <gcd-open-gitlab-icon [url]="pipeline.web_url" />
          <gcd-download-artifacts-icon [projectId]="pipeline.project_id" [pipelineId]="pipeline.id" />
          } @else { - }
        </td>
      </tr>
      }
    </tbody>
  </nz-table>
</div>
