<div class="flex flex-col gap-1">
  <div class="flex items-center">
    <div class="max-width-275">
      <nz-input-group [nzPrefix]="prefixIcon" [nzSuffix]="suffixIcon">
        <input
          type="text"
          [(ngModel)]="filterText"
          nz-input
          [placeholder]="branchCount() > 0 ? 'Search ' + branchCount() + ' branches...' : 'Search branches...'"
        />
      </nz-input-group>
      <ng-template #prefixIcon><span nz-icon nzType="search"></span></ng-template>
      <ng-template #suffixIcon>
        @if(filterText()){<button type="button" class="filter-clear-button" nz-tooltip nzTooltipTitle="Clear search" aria-label="Clear branch search" (click)="filterText.set('')"><span nz-icon nzType="close"></span></button>}
      </ng-template>
    </div>
  </div>
</div>
