@if (loading()) {
  <nz-spin nzSimple nzSize="small" />
} @else {
  @if (jobs().length > 0) {
    <div class="flex flex-wrap gap-050 items-center">
      <span class="font-sm font-bold">Filter by job</span>
      @for (job of jobs(); track job.id) {
        <nz-tag
          nzMode="checkable"
          [nzChecked]="filterJobNames().includes(job.name)"
          (nzCheckedChange)="onJobChange($event, job)"
        >
          {{ job.name | lowercase }}
        </nz-tag>
      }
    </div>
  }
}
