<div class="flex flex-col gap-1">
  <div class="flex justify-between">
    <gcd-project-filter
      [loading]="(loading$ | async)!"
      [projects]="(projects$ | async)!"
      [currentFilterText]="(currentFilterText$ | async)!"
      [currentFilterTopics]="(currentFilterTopics$ | async)!"
      (filterTextChanged)="onFilterTextChanged($event)"
      (filterTopicsChanged)="onFilterTopicsChanged($event)"
    >
    </gcd-project-filter>
    <ng-container *ngIf="selectedGroupId$ | async as selectedGroupId">
      <gcd-auto-refresh
        [id]="selectedGroupId"
        [loading]="(autoRefreshLoading$ | async)!"
        (refresh)="fetch()"
      ></gcd-auto-refresh>
    </ng-container>
  </div>
  <ng-container *ngIf="loading$ | async; else loaded">
    <nz-spin></nz-spin>
  </ng-container>
  <ng-template #loaded>
    <gcd-pipeline-status-tabs></gcd-pipeline-status-tabs>
  </ng-template>
</div>
