<div class="flex flex-col gap-1">
  <div class="flex justify-between">
    <div class="flex flex-col gap-050">
      <gcd-project-filter
        [projects]="projects()"
        [selectedFilterText]="selectedFilterText()"
        (filterTextChanged)="onFilterTextChanged($event)"
      />
      <gcd-topic-filter
        [loading]="projectsLoading()"
        [projects]="projects()"
        [selectedFilterTopics]="selectedFilterTopics()"
        (filterTopicsChanged)="onFilterTopicsChanged($event)"
      />
    </div>
    @if (selectedGroupId(); as selectedGroupId) {
    <gcd-auto-refresh [id]="selectedGroupId" [loading]="autoRefreshLoading()" (refresh)="fetch(selectedGroupId)" />
    }
  </div>
  @if (projectsLoading()) {
  <nz-spin />
  } @else {
  <gcd-pipeline-status-tabs />
  }
</div>
