<ng-container *ngIf="loading$ | async; else projects">
  <mat-progress-bar class="mt-1"
    color="accent"
    mode="indeterminate"></mat-progress-bar>
</ng-container>
<ng-template #projects>
  <ng-container *ngIf="tabs$ | async as tabs">
    <ng-container *ngIf="tabs.length; else noTabs">
      <mat-tab-group [mat-stretch-tabs]="false" class="mt-4">
        <ng-container *ngFor="let tab of tabs">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon [svgIcon]="'status_'+tab.status"></mat-icon>
              <span class="capitalize">{{ tab.status }} ({{ tab.projects.length }})</span>
            </ng-template>
            <gcd-project-table [projects]="tab.projects"></gcd-project-table>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
    </ng-container>
    <ng-template #noTabs>
      <p>No projects found...</p>
    </ng-template>
  </ng-container>

</ng-template>
