<gcd-header />
@if (error(); as error) {
  <div class="alert">
    <nz-alert
      nzShowIcon
      nzType="error"
      [nzMessage]="'Server Error (' + error + ')'"
      [nzDescription]="
        'The server reported a problem, try refreshing the page or read server logs for more information.'
      "
      [nzAction]="action"
    />
    <ng-template #action>
      <button nz-button nzSize="small" nzType="default" (click)="OnClick()" nzDanger>Refresh</button>
    </ng-template>
  </div>
} @else {
  <main class="container">
    <router-outlet></router-outlet>
  </main>
}
