@if (tabs().length) {
  <nz-tabs nzType="card">
    @for (tab of tabs(); track trackByStatus(tab)) {
      <nz-tab [nzTitle]="title">
        <ng-template #title>
          <div class="flex gap-025">
            <span class="status">{{ tab.status }}</span>
            <nz-badge
              nzStandalone
              nzSize="small"
              [nzCount]="tab.projects.length"
              [nzColor]="tab.status | statusColor"
            ></nz-badge>
          </div>
        </ng-template>
        <ng-template nz-tab>
          <gcd-pipeline-table [projects]="tab.projects" [status]="tab.status" />
        </ng-template>
      </nz-tab>
    }
  </nz-tabs>
} @else {
  <gcd-pipeline-table [projects]="[]" />
}
