<mat-toolbar class="flex justify-between"
  color="primary">
  <div class="flex items-center">
    <button class="flex"
      mat-icon-button>
      <mat-icon>apps</mat-icon>
    </button>
    <span>Gitlab CI Dashboard</span>
  </div>
  <div class="flex gap-2 items-center">
    <div class="text-xs hidden sm:block">{{ (version$ | async) || 'dev' }}</div>
    <img class="cursor-pointer"
      matTooltip="Open Github (source code)"
      matTooltipShowDelay="500"
      matTooltipPosition="left"
      (click)="openGithub()"
      src="./assets/image/github.svg" />
  </div>
</mat-toolbar>
