<div class="flex items-center">
  <div class="max-width-275">
    <nz-input-group [nzSuffix]="suffixIcon">
      <input
        type="text"
        [formControl]="searchControl"
        nz-input
        [placeholder]="projectCount > 0 ? 'Search ' + projectCount + ' projects...' : 'Search projects...'"
      />
    </nz-input-group>
    <ng-template #suffixIcon>
      <span
        class="pointer"
        nz-icon
        nzType="close-square"
        nz-tooltip
        [nzTooltipMouseEnterDelay]="1"
        nzTooltipTitle="Clear field"
        (click)="resetSearch()"
      ></span>
    </ng-template>
  </div>
</div>
