<div class="flex flex-col gap-1">
  <div class="flex justify-between">
    <div class="flex flex-col gap-050">
      <div class="flex gap-050">
        <gcd-project-filter
          [projects]="projects()"
          [selectedFilterText]="selectedFilterTextProjects()"
          (filterTextChanged)="onFilterTextProjectsChanged($event)"
        />
        <gcd-branch-filter
          [branches]="branches()"
          [selectedFilterText]="selectedFilterTextBranches()"
          (filterTextChanged)="onFilterTextBranchesChanged($event)"
        />
      </div>
      <gcd-topic-filter
        [loading]="pipelinesLoading()"
        [projects]="projects()"
        [selectedFilterTopics]="selectedFilterTopics()"
        (filterTopicsChanged)="onFilterTopicsChanged($event)"
      />
      <gcd-status-filter
        (filterStatusesChanged)="onFilterStatusesChanged($event)"
        [selectedFilterStatuses]="selectedFilterStatuses()"
      />
    </div>
    @if (selectedGroupId() ; as selectedGroupId) {
    <gcd-auto-refresh [id]="selectedGroupId" [loading]="autoRefreshLoading()" (refresh)="fetch(selectedGroupId)" />
    }
  </div>
  @if (pipelinesLoading()) { <nz-spin /> } @else {
  <gcd-pipeline-table
    [projects]="projectPipelines()"
    [pinnedPipelines]="pinnedPipelines()"
    (pinnedPipelinesChanged)="onPinnedPipelinesChanged($event)"
  />
  }
</div>
