<div class="flex flex-col gap-1">
  <div class="flex justify-between">
    <div class="flex flex-col gap-050">
      <div class="flex gap-050">
        <gcd-project-filter
          [projects]="projects()"
          [filterText]="selectedFilterTextProjects()"
          (filterTextChange)="onFilterTextProjectsChanged($event)"
        />
        <gcd-branch-filter
          [branches]="branches()"
          [filterText]="selectedFilterTextBranches()"
          (filterTextChange)="onFilterTextBranchesChanged($event)"
        />
      </div>
      <gcd-topic-filter
        [loading]="pipelinesLoading()"
        [projects]="projects()"
        [filterTopics]="selectedFilterTopics()"
        (filterTopicsChange)="onFilterTopicsChanged($event)"
      />
      <gcd-status-filter
        [filterStatuses]="selectedFilterStatuses()"
        (filterStatusesChange)="onFilterStatusesChanged($event)"
      />
    </div>
    @if (selectedGroupId() ; as selectedGroupId) {
    <gcd-auto-refresh [id]="selectedGroupId" [loading]="autoRefreshLoading()" (refresh)="fetch(selectedGroupId)" />
    }
  </div>
  @if (pipelinesLoading()) { <nz-spin /> } @else {
  <gcd-pipeline-table
    [projects]="projectPipelines()"
    [pinnedPipelines]="pinnedPipelines()"
    (pinnedPipelinesChange)="onPinnedPipelinesChanged($event)"
  />
  }
</div>
