<div class="flex flex-col gap-1">
  <div class="flex justify-between">
    <div class="flex flex-col gap-050">
      <gcd-project-filter
        [projects]="projects()"
        [filterText]="filterText()"
        (filterTextChange)="onFilterTextChanged($event)"
      />
      <gcd-topic-filter
        [loading]="loading()"
        [projects]="projects()"
        [filterTopics]="filterTopics()"
        (filterTopicsChange)="onFilterTopicsChanged($event)"
      />
      <gcd-status-filter [filterStatuses]="filterStatuses()" (filterStatusesChange)="onFilterStatusesChanged($event)" />
    </div>
  </div>
  @if (loading()) {
  <nz-spin />
  } @else {
  <gcd-schedule-table [schedulePipelines]="filteredSchedulePipelines()" />
  }
</div>
