<div class="flex flex-col gap-1">
  <div class="flex justify-between">
    <div class="flex flex-col gap-050">
      <gcd-project-filter
        [projects]="(projects$ | async)!"
        [selectedFilterText]="(selectedFilterText$ | async)!"
        (filterTextChanged)="onFilterTextChanged($event)"
      />
      <gcd-topic-filter
        [loading]="(loading$ | async)!"
        [projects]="(projects$ | async)!"
        [selectedFilterTopics]="(selectedFilterTopics$ | async)!"
        (filterTopicsChanged)="onFilterTopicsChanged($event)"
      />
      <gcd-status-filter
        (filterStatusesChanged)="onFilterStatusesChanged($event)"
        [selectedFilterStatuses]="(selectedFilterStatuses$ | async)!"
      />
    </div>
    @if (selectedGroupId$ | async; as selectedGroupId) {
      <gcd-auto-refresh [id]="selectedGroupId" [loading]="(autoRefreshLoading$ | async)!" (refresh)="fetch()" />
    }
  </div>
  @if (loading$ | async) {
    <nz-spin />
  } @else {
    @if (schedules$ | async; as schedules) {
      <gcd-schedule-table [schedules]="schedules" />
    }
  }
</div>
