<div class="flex flex-col gap-1">
  <div class="flex justify-between">
    <div class="flex flex-col gap-050">
      <gcd-project-filter
        [projects]="projects()"
        [selectedFilterText]="selectedFilterText()"
        (filterTextChanged)="onFilterTextChanged($event)"
      />
      <gcd-topic-filter
        [loading]="schedulesLoading()"
        [projects]="projects()"
        [selectedFilterTopics]="selectedFilterTopics()"
        (filterTopicsChanged)="onFilterTopicsChanged($event)"
      />
      <gcd-status-filter
        (filterStatusesChanged)="onFilterStatusesChanged($event)"
        [selectedFilterStatuses]="selectedFilterStatuses()"
      />
    </div>
    @if (selectedGroupId(); as selectedGroupId) {
    <gcd-auto-refresh [id]="selectedGroupId" [loading]="autoRefreshLoading()" (refresh)="fetch(selectedGroupId)" />
    }
  </div>
  @if (schedulesLoading()) {
  <nz-spin />
  } @else {
  <gcd-schedule-table [schedules]="schedules()" />
  }
</div>
