<nz-table #nzTable nzSize="small" nzTableLayout="fixed" [nzData]="projects()" [nzPageSize]="10">
  <thead>
    <tr>
      @for (header of headers; track header) {
        <th [nzSortFn]="header.compare" [nzShowSort]="header.sortable">
          {{ header.title }}
        </th>
      }
      <th>Jobs</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @for (data of nzTable.data; track trackByProjectId($index, data)) {
      <tr
        class="pointer"
        [attr.data-project-id]="data.project.id"
        [attr.data-pipeline-id]="data.pipeline?.id"
        (click)="onRowClick(data.project)"
      >
        <td>{{ data.project.name }}</td>
        <td>{{ data.project.default_branch }}</td>
        <td class="lowercase">{{ data.project.topics.length ? data.project.topics.join(',') : '-' }}</td>
        <td>{{ data.pipeline?.source || '-' }}</td>
        <td>
          @if (data.pipeline; as pipeline) {
            {{ pipeline.updated_at | date: 'medium' : timeZone : locale }}
          } @else {
            -
          }
        </td>
        <td>
          @if (data.pipeline; as pipeline) {
            <gcd-jobs [projectId]="data.project.id" [pipelineId]="pipeline.id" [scope]="scope" />
          } @else {
            -
          }
        </td>
        <td>
          @if (data.pipeline; as pipeline) {
            <button
              (click)="onActionClick($event, pipeline)"
              nzType="text"
              nz-tooltip
              nzTooltipTitle="Open in Gitlab"
              nz-button
              nzShape="circle"
            >
              <span nz-icon nzType="gitlab"></span>
            </button>

            <gcd-start-pipeline-icon [projectId]="data.project.id" [branch]="data.pipeline.ref" />

            <gcd-cancel-pipeline-icon [projectId]="data.project.id" [pipelineId]="pipeline.id" />

            <gcd-retry-pipeline-icon [projectId]="data.project.id" [pipelineId]="pipeline.id" />

            <gcd-favorites-icon [groupId]="data.group_id" [projectId]="data.project.id" />
          } @else {
            -
          }
        </td>
      </tr>
      <tr [nzExpand]="data.project.id === selectedProjectId()">
        @if (data.project.id === selectedProjectId()) {
          <gcd-pipeline-table-branch [loading]="branchesLoading()" [branchPipelines]="branchPipelines()" />
        }
      </tr>
    }
  </tbody>
</nz-table>
