<ng-template #title>
  <div class="flex justify-between">
    <h3><span nz-icon nzType="star" nzTheme="fill" nzTheme="twotone" nzTwotoneColor="#FFD700"></span> Favorites</h3>
    @if(hasFavorites() ){<button
      nz-button
      nzType="default"
      nzDanger
      nz-popconfirm
      nzPopconfirmTitle="Are you sure you want to remove all your favorite projects?"
      (nzOnConfirm)="onConfirm()"
      nzPopconfirmPlacement="left"
      nz-button
    >
      Remove all</button
    >}
  </div>
</ng-template>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="true"
  [nzHeight]="hasFavorites() ? '70%' : '30%'"
  nzPlacement="bottom"
  [nzTitle]="title"
  (nzOnClose)="close.emit()"
>
  <ng-container *nzDrawerContent>
    @if(hasFavorites()) {
    <gcd-feature-tabs [disableRouting]="true" [groupMap]="favorites()"></gcd-feature-tabs>
    }@else {
    <nz-empty
      [nzNotFoundContent]="content"
      [nzNotFoundFooter]="footer"
    >
      <ng-template #content>
        <div>
          No favorites yet, start adding favorites by clicking on the
          <span nz-icon nzType="star"></span> next to a project.
        </div>
      </ng-template>
      <ng-template #footer>
        <button nz-button nzType="primary" (click)="close.emit()">Close</button>
      </ng-template>
    </nz-empty>
    }
  </ng-container>
</nz-drawer>
